
<div class="container">
    <h1>{{ user.username + "'s meal history"}}</h1>
    <hr>
    <div class="meal-container" *ngIf="user">
        
            <div class="meal-history">
                <div class="meal-item bg-warning" *ngFor="let meal of meals">
                    <div>
                        <h2>{{meal.mealName}}</h2>
                        <h3>{{meal.dateConsumed | date:'fullDate'}}</h3>
                        <button (click)="displayForm('edit', meal)">Edit</button>
                        <button (click)="deleteMeal(meal)">Delete</button>
                    </div>
                    <div class="edit-form">
                        <app-meal-form *ngIf="editMealDisplayForm && meal.mealId === mealIdToEdit" 
                        (newMeal)="editMeal($event)" 
                        [isEdit]="isEdit"
                        [editModel]="meal"></app-meal-form>
                    </div>
                </div>
            </div>

            <div class="control-btn-dash">
                <button class="control-btn" (click)="displayForm('add')">Add meal</button>
                
                <app-meal-form class="control-btn" *ngIf="addMealDisplayForm" (newMeal)="addMeal($event)" [isEdit]="isEdit"></app-meal-form>
                
        </div>
    </div>
</div>
