.cont-max {
    max-width: 1280px;
    margin: 0 auto;
}

.border-bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.733), rgba(255, 255, 255, 0.26)), url("../../../assets/img/background-hero2.jpg");
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}

.hero-bg {
    height: 736px;
    border-bottom: 20px double #ffc107;
} 

.hero-text {
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffc107;

}

.hero-text h1 {
    font-size: 100px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 30px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.305);  
}

.hero-text p {
    font-size: 30px;
    color: #ffc107;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.305);

}

.info-section.first {
    margin-top: 60px;
}

.info-section.first p, .info-section.last p {
    padding-top: 40px;
    text-shadow: -2px 2px 1px #ffc107;
    color:rgb(68, 68, 68);
}

.info-section p {
    text-shadow: 2px 2px 1px #ffc107;
    color:rgb(68, 68, 68);
}

.info-section.first img, .info-section.last img {
    box-shadow: -14px 14px #ffc107;
}

.info-section img {
    box-shadow: 14px 14px #ffc107;
}

.info-section {
    display: flex;
    justify-content: space-evenly;
    margin: 36px auto;
    padding-bottom: 40px;
    border-bottom: 20px double #ffc107;
}

.info-section p {
    text-align: center;
    max-width: 360px;
    font-size: 36px;
    padding-top: 40px;
    line-height: 120%;
}

.footer {
    padding: 20px;
    margin-bottom: 0;
    height: 100px;
}