2hr Investigation
2hr Planning
1hr Sprint canlendar

### Investigation
Resources: https://www.medicinenet.com/healthy_living/article.htm

Healthy living: physical and mental health, "... in many instances are closely linked"



### Ideas
- Set goals and track them
- Tracker functionality: track how many days you have done something or havent, i.e, days you have exercise or days you havent smoked.
- Diet functionality: track what foods you eat, how you feel after (maybe have a reminder after a custom time). Track if you are getting enough or more than the diet goal (customizable according to age and weight)


"The best protection against food intolerances is to avoid the food that causes it."

Problem: Usually a meal is made up of more than one ingredient, making hard to define exactly what is causing the intolerance.

1. Track
2. Analysis
3. Report

General requirements:

1. Include a microservice Java/Spring Boot back-end and as Angular frontend
2. Include at least 2 SQL database tables
3. Include at least 4 services plus at least 1 edge service
4. Include at least 1 GET, POST, PUT/PATCH and DELETE route
5. Include adecuate and complete documentation

Requirements:

USERS: 2 types - user and admin

1. Users must be able to register
2. Registration is mandatory to access the app beyond the home page (or other public access resoruces)
3. User should only access their account info
4. admin can access any account

DATABASES

1. Database for users
2. Database for meals (must have a date stamp)
3. Meals have ingredients
4. Database for symtoms (prompt an amount of time after registering a meal)
5. Database for caloric intake and nutrition (call external api to obtain the

SERVICES

1. Analysis service shows

Localization: multilanguage support

https://www.ngdevelop.tech/best-angular-chart-libraries/
chart.js
https://www.chartjs.org/docs/latest/samples/bar/vertical.html





