div.container {
    
    padding: 10px;
    margin: 0 auto;
    max-width: 1280px;

}

div.meal-history {
    border: 1px solid black;
}

div.meal-history h4 {
    padding: 10px;
}

div.meal-item:last-child hr{
    visibility: hidden; 
}