<div class="container cont-max">
  <div class="border-bg">
    <div class="hero-bg">
        <div class="hero-text">
          <h1>TRUMMY</h1>
          <br>
          <p>{{"Know yourself, improve yourself" | uppercase}}</p>
        </div>
    </div>
  </div>
  
  <div class="info-section first">
    <img src="../../../assets/img/food.jpg" width="400px">
    <p>Track your meals and keep a record on what you put in your body</p>
  </div>

  <div class="info-section">
    <p>Register your symptoms. We'll help you figure out what's making you sick</p>
    <img src="../../../assets/img/symptoms1.jpg" width="400px">
  </div>

  <div class="info-section last">
    <img src="../../../assets/img/smile1.jpg" width="400px">
    <p>Know yourself and smile all day!</p>
  </div>
</div>
<div class="footer bg-warning">
  <footer class="container">
    <p>Author: Gustavo Maldonado</p>
    <p><a href="https://github.com/GustavoM01/fullstack-health-app">Github</a></p>
  </footer>
  </div> 
