<div class="hero-image">
    <div class="hero-text">
      <h1>TRUMMY</h1>
      <p>Be Better</p>
      <button type="button" class="btn btn-warning">Register</button>
    </div>
</div>
<div>
    <div class="info-section">
        <img src="../../assets/img/placeholder60x60.png" alt="icon" height="500px" width="500px" />
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly  placeholder before final copy is available.</p>
    </div>
</div>
<div>
    <div class="info-section">
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly  placeholder before final copy is available.</p>
        <img src="../../assets/img/placeholder60x60.png" alt="icon" height="500px" width="500px" />
    </div>
</div>
<div>
    <div class="info-section">
        <img src="../../assets/img/placeholder60x60.png" alt="icon" height="500px" width="500px" />
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly  placeholder before final copy is available.</p>
    </div>
</div>

<footer>
    <p>&copy; Copyright 2018</p>
</footer>

